# set the udev rule , make the device_port be fixed by rplidar
# USB HUB, 5'th port
KERNEL=="ttyUSB*", ATTRS{devpath}=="3*" ,MODE:="0777", SYMLINK+="rplidar"
