<launch>
  <!-- launching Arduino robot node -->
  <node pkg="rosserial_python" type="serial_node.py" name="serial_node">
    <param name="port" value="/dev/esp32Nodemcu"/>
    <param name="baud" value="115200"/>
  </node>

<!-- Lidar Data Publisher Using RPLIDAR from Slamtec -->
<!-- Used for obstacle avoidance and can be used for mapping --> 
<!-- Publish: /scan -->
<node name="rplidarNode"            pkg="rplidar_ros"  type="rplidarNode" output="screen">
  <param name="serial_port"         type="string" value="/dev/rplidar"/>
  <param name="serial_baudrate"     type="int"    value="115200"/>
  <param name="frame_id"            type="string" value="laser_link"/>
  <param name="inverted"            type="bool"   value="false"/>
  <param name="angle_compensate"    type="bool"   value="true"/>
</node>  

<!-- Publish: /imu/data -->
<include file="$(find jessicar2_imuconverter)/launch/mpu6050_imu.launch"/> 

<rosparam command="load" file="$(find jessicar2_bringup)/config/motor.yaml" />

</launch>
