<launch>

  <!-- Do all preparation, odometry, Lidar, IMU, initial Pose and Goal-->
  <!-- Subscribe: /odom, /imu_data, /vo -->
  <!-- Publish: /robot_pose_ekf/odom_combined -->

  <include file="$(find jessicar2_localization)/launch/ekfPose.launch" />

  <!-- Add AMCL example for differential drive robots for Localization -->
  <!-- Subscribe: /scan, /tf, /initialpose, /map -->
  <!-- Publish: /amcl_pose, /particlecloud, /tf -->
  <include file="$(find amcl)/examples/amcl_diff.launch"/>

  <!-- Map File -->
  <arg name="map_file" default="$(find jessicar2_navigation)/maps/zetaroom2.yaml"/>

  <!-- Map Server -->
  <!-- Publish: /map, /map_metadata -->
  <node pkg="map_server" name="map_server" type="map_server" args="$(arg map_file)" />
    
  <!-- Move Base Node -->
  <!-- Subscribe: /move_base_simple/goal -->
  <!-- Publish: /cmd_vel -->
  <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
    <rosparam file="$(find jessicar2_navigation)/param/costmap_common_params.yaml" command="load" ns="global_costmap" />
    <rosparam file="$(find jessicar2_navigation)/param/costmap_common_params.yaml" command="load" ns="local_costmap" />
    <rosparam file="$(find jessicar2_navigation)/param/local_costmap_params.yaml" command="load" ns="local_costmap" />
    <rosparam file="$(find jessicar2_navigation)/param/global_costmap_params.yaml" command="load" ns="global_costmap" />
    <rosparam file="$(find jessicar2_navigation)/param/base_local_planner_params.yaml" command="load" />
  </node>

</launch>
