<launch>
  <!-- Transformation Configuration ... Setting Up the Relationships Between Coordinate Frames -->
  <node pkg="tf" type="static_transform_publisher" name="baselink_to_laserlink"     args="0.03 0 0.00 0 0 0 base_link laser_link 30" />
  <node pkg="tf" type="static_transform_publisher" name="baselink_to_imulink"       args="0.03 0 0.06 0 0 0 base_link imu_link 30" />
  <node pkg="tf" type="static_transform_publisher" name="basefootprint_to_baselink" args="0.00 0 0.02 0 0 0 base_footprint base_link 30" />

  <include file="$(find jessicar2_bringup)/launch/jessicar2p_bringup.launch" />
  <include file="$(find jessicar2_description)/launch/loadUrdf.launch" />

  <!-- Subscribe: /initialpose, /move_base_simple/goal -->
  <!-- Publish: /initial_2d, /goal_2d -->
  <node pkg="jessicar2_localization" type="rviz_click_to_2d" name="rviz_click_to_2d" />
  
  <!-- Wheel Odometry Publisher -->
  <!-- Subscribe: /right_ticks, /left_ticks, /initial_2d -->
  <!-- Publish: /odom_data_euler, /odom_data_quat -->
  <node pkg="jessicar2_localization" type="odom_pub" name="odom_pub">
    <param name="initialPoseRecieved" type="bool" value="false" />
  </node>

  <!-- Extended Kalman Filter from robot_pose_ekf Node-->
  <!-- Subscribe: /odom, /imu_data, /vo -->
  <!-- Publish: /robot_pose_ekf/odom_combined -->
  <remap from="odom" to="odom_data_quat" />
  <remap from="imu_data" to="imu/data" />
  <node pkg="robot_pose_ekf" type="robot_pose_ekf" name="robot_pose_ekf">
    <param name="output_frame" value="odom"/>
    <param name="base_footprint_frame" value="base_footprint"/>
    <param name="freq" value="30.0"/>
    <param name="sensor_timeout" value="1.0"/>
    <param name="odom_used" value="true"/>
    <param name="imu_used" value="false"/>
    <param name="vo_used" value="false"/>
    <param name="gps_used" value="false"/>
    <param name="debug" value="false"/>
    <param name="self_diagnose" value="false"/>
  </node>

  <!-- Add AMCL example for differential drive robots for Localization -->
  <!-- Subscribe: /scan, /tf, /initialpose, /map -->
  <!-- Publish: /amcl_pose, /particlecloud, /tf -->
  <include file="$(find jessicar2_navigation)/launch/jessicar2_amcl.launch"/>

  <!-- Map File -->
  <arg name="map_file" default="$(find jessicar2_navigation)/maps/gmapping.yaml"/>

  <!-- Map Server -->
  <!-- Publish: /map, /map_metadata -->
  <node pkg="map_server" name="map_server" type="map_server" args="$(arg map_file)" />
    
  <!-- Move Base Node -->
  <!-- Subscribe: /move_base_simple/goal -->
  <!-- Publish: /cmd_vel -->
  <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
  <param name="base_local_planner" value="dwa_local_planner/DWAPlannerROS" />
    <rosparam file="$(find jessicar2_navigation)/param/costmap_common_params.yaml" command="load" ns="global_costmap" />
    <rosparam file="$(find jessicar2_navigation)/param/costmap_common_params.yaml" command="load" ns="local_costmap" />
    <rosparam file="$(find jessicar2_navigation)/param/local_costmap_params.yaml" command="load" />
    <rosparam file="$(find jessicar2_navigation)/param/global_costmap_params.yaml" command="load" />
    <rosparam file="$(find jessicar2_navigation)/param/move_base_params.yaml" command="load" />
    <rosparam file="$(find jessicar2_navigation)/param/dwa_local_planner_params.yaml" command="load" />
  </node>

</launch>
