<launch>
	<!--  <include file="$(find jessicar2_bringup)/launch/nodemcu32.launch" />	-->

	<node pkg="jessicar2_imuconverter" type="jessicar2_imuconverter_node" name="mpu6050_imu_converter" output="screen">
		<remap from="~/imu" to="/imu/data"/>
	</node>
	
	<!-- <node name="rviz" pkg="rviz" type="rviz" args="-d $(find jessicar2_imuconverter)/rviz/mpu6050_imu.rviz"/> -->
</launch>
